<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="registrations"
		label="COM_JEREGISTER_CONFIG_SETTINGS_LABEL"
		description="COM_JEREGISTER_CONFIG_SETTINGS_DESC"
	>
		<field
			name="google_maps_api_key"
			type="text"
			label="COM_JEREGISTER_GOOGLE_MAPS_API_KEY_LABEL"
			description="COM_JEREGISTER_GOOGLE_MAPS_API_KEY_DESC"
			default=""
		/>
	</fieldset>
    <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_jeregister"
			section="component"
		/>
	</fieldset>
</config>